<%- include('partials/header.ejs') -%>





<div class="row banner">

  <div class="top col-lg-6 col-md-12">
    <h1 class="top-h1">A drop of blood for you, an ocean of hope for someone else!</h1>
    <div class="banner-down-text">
      <p class="banner-down-text-line">Recovered from COVID-19 ?</p>
      <p class="donate-blood banner-down-text-line">Donate Plasma !</p>
      <p class="banner-down-text-line">Rebuild faith in someone </p>
    </div>
    <br>
    <p class="banner-tagline">If you're looking for donors, Meet countless friends that are ready to help you win your war against COVID-19.</p>
  </div>
  <div class="col-lg-6 col-md-12 covid-img-div">
    <img src="Covid-19.jpg" alt="covid image" class="covid-img banner-img img-fluid img-responsive">
  </div>
</div>


<div class="covid-data">
  <!-- for covid api -->
  <h1>COVID DATA FROM API</h1>

</div>



<div class="blog">
  <div id="blogcarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row carousel-pg1">
          <div class="col-lg-9 col-md-12 col-sm-12 ">
            <h1 class="carousel-pg1-title">What Is Plasma ?</h1>
            <div class="carousel-pg1-content">
              <p>Plasma is the pale-yellow colored liquid that is present in blood along with red blood cells, white blood cells, platelets and other cellular components. It is a major constituent of human blood.
                and contains water, salts, enzymes, antibodies and other proteins.</p>
            </div>
            <div class="row">
              <div class="col-lg-2 carousel-pg1-heart-div">
                <img src="carousel-pg1-heart.jpeg" class="carousel-pg1-heart">
              </div>
              <div class="col-lg-10 carousel-pg1-points">
                <ul>
                  <li>Plasma, 90% of which is water, is a medium of transport for a variety of nutrients, antibodies, plasma-proteins etc to the entire body.</li>
                  <li>It helps in carrying out of a wide variety of functions in the body, like blood-clotting , fighting against diseases etc.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 d-sm-none d-md-block d-md-none d-lg-block mobile-carousel-pg1">
            <img src="carousel-pg1-pouch.jpeg" class="carousel-pg1-pouch">
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-item2">
        <div class="row carousel-pg1">
          <div class="col-lg-9 col-md-12 col-sm-12 ">
            <h1 class="carousel-pg1-title">Why should you donate plasma?</h1>
            <div class="carousel-pg1-content">
              <p>If you have recently recovered from COVID-19, then your blood contains antibodies to the virus. The plasma obtained on processing the donated blood can be given to people with COVID-19 to boost their ability to fight the virus.</p>
            </div>
              <div class="col-lg-12 carousel-pg1-points">
                <p>This process may lessen the severity or shorten the length of the disease and hence help the patient recover faster.</p>
              </div>
          </div>
          <div class="col-lg-3 d-sm-none d-md-block d-md-none d-lg-block mobile-carousel-pg1">
            <img src="carousel-pg2-blood.jpg" class="carousel-pg1-pouch ">
          </div>
        </div>
      </div>
      <div class="carousel-item carousel-item3">
        <div class="row carousel-pg1">
          <div class="col-lg-9 col-md-12 col-sm-12 ">
            <h1 class="carousel-pg1-title">How does this website help?</h1>
            <div class="carousel-pg1-content carousel-pg3-content">
              <h3>If you wish to donate plasma ,</h3>
              <ul>
                <li>Go to the Plasma tab and click on Register as a Donor.</li>
                <li>Enter your details and click on Register. </li>
                <li>Once you register your data will be saved on our website.</li>
                <li>You will now be contacted by people narby you who are in need of plasma.</li>
              </ul>
            </div>
              <div class="col-lg-12 carousel-pg1-points">
                <h3>If you are looking for plasma donors ,</h3>
              <p>In the Plasma tab, you can also click on the Get Donors List button and find the contact details of the registered donors in your state.</p>
              </div>
          </div>
          <div class="col-lg-3 d-sm-none d-md-block d-md-none d-lg-block mobile-carousel-pg1">
            <img src="Helping-Hands-01.jpg" class="carousel-pg1-pouch">
          </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#blogcarousel" role="button" data-slide="prev">
      <div class="carousel-btn">
        <span class="carousel-control-prev-icon carousel-btn-icon"></span>
        <span class="sr-only"></span>
      </div>
    </a>
    <a class="carousel-control-next" href="#blogcarousel" role="button" data-slide="next">
      <div class="carousel-btn">
        <span class="carousel-control-next-icon carousel-btn-icon"></span>
        <span class="sr-only"></span>
      </div>
    </a>

  </div>
</div>

<%- include('partials/footer.ejs') -%>

<%#
 #28527a
#8ac4d0
#f4d160
#fbeeca



Importance of Donation
Only a small number of people living in the U.S. who are eligible to donate blood or source plasma actually donate. What's important is that we encourage all forms of donation from those who are eligible, so that they may contribute life-saving blood and source plasma to those in need.

The plasma protein therapeutics industry supports volunteerism donation in all of its forms. Source plasma donation and blood donation are critically important activities that contribute to saving lives. Source plasma and recovered plasma are used to produce therapies that treat people with rare, chronic diseases and disorders such as primary immunodeficiency, hemophilia and a genetic lung disease, as well as in the treatment of trauma, burns and shock. Whole blood donations most often are used locally in hospitals for transfusions required during surgery or other medical treatment. Find a donation center near you!
Plasma donation requires a commitment both in the amount of time for each donation and frequency of donation. Typically it takes between one and three hours to donate source plasma, and plasma can be donated twice within a seven day period. Whole blood donation takes less time—under 30 minutes—and donors donate less frequently—no more than once in eight weeks. The programs may fit into a donor's life differently at various times in the donor's life, and are equally important in helping to fulfill a vital medical need.

 %>
