<%- include('partials/header.ejs') -%>





<div class="row banner">

  <div class="top col-lg-6 col-md-12">
    <h1 class="top-h1">A drop of blood for you, an ocean of life for someone else!</h1>
    <br>
    <p class="banner-tagline">Meet countless friends that are ready to help you win your war against COVID-19.</p>
    <div class="banner-down-text">
      <p class="banner-down-text-line">Recovered from COVID-19 ?</p>
      <p class="donate-blood banner-down-text-line">Donate Blood !</p>
      <p class="banner-down-text-line">Give a smile to someone </p>
    </div>

  </div>
  <div class="col-lg-6 col-md-12 covid-img-div">
    <img src="Covid-19.jpg" alt="covid image" class="covid-img banner-img">
  </div>
</div>


<div class="covid-data">
  <!-- for covid api -->
  <h1>COVID DATA FROM API</h1>
</div>



<div class="blog">
  <div id="blogcarousel" class="carousel slide" data-ride="false" data-interval="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active carousel-item1">
        <h1>page 1</h1>
      </div>
      <div class="carousel-item carousel-item2">
        <h1>page 2</h1>
      </div>
      <div class="carousel-item carousel-item3">
        <h1>page 3</h1>
      </div>
    </div>
    <a class="carousel-control-prev" href="#blogcarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#blogcarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only"></span>
    </a>
    <!-- <a class="carousel-control-prev" href="#blogcarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#blogcarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
  </div>
</div>

<%- include('partials/footer.ejs') -%>

<%#
 #28527a
#8ac4d0
#f4d160
#fbeeca
 %>
